@page
@model Cardicon.Pages.contactModel 
@{
}
<div class="container-fluid mt-3">
    <h3 class="hdvio">CONTACT LIST : CARDICON 2023</h3>

	<table class="table table-striped table-bordered" style="background-color: floralwhite; font-size:large">
		<tr>
			<th>Region</th>
			<th>Doctor's Name</th>
			<th>Mobile Number</th>
		</tr>
		<tr>
			<td>BSMMU</td>
			<td>DR. CHAYAN KUMAR SHINGHA</td>
			<td>01716433895</td>
		</tr>
		<tr>
			<td>NICVD</td>
			<td>DR. PIJOUS BISWAS</td>
			<td>01715025023</td>
		</tr>
		<tr>
			<td>LABAID</td>
			<td>DR. SHIBLEE SADIK PATHAN</td>
			<td>01714368048</td>
		</tr>
		<tr>
			<td>NICVD</td>
			<td>DR. FARHANA AKTER</td>
			<td>01712282059</td>
		</tr>
		<tr>
			<td>DHAKA</td>
			<td>DR. ARIFUR RAHMAN SAZAL</td>
			<td>01711666030</td>
		</tr>
		<tr>
			<td>DMC</td>
			<td>DR. MOHAMMOD ULLAH FIROZ</td>
			<td>01819443140</td>
		</tr>
		<tr>
			<td>MMC</td>
			<td>DR. SHAFIQUL ISLAM</td>
			<td>01712131152</td>
		</tr>
		<tr>
			<td>RMC</td>
			<td>DR. RAIS UDDIN MONDOL</td>
			<td>01819750313</td>
		</tr>
		<tr>
			<td>RPMC</td>
			<td>DR. MAHABUBUR RAHMAN</td>
			<td>01711109121</td>
		</tr>
		<tr>
			<td>SBMC</td>
			<td>DR. MUSHFIQUZZAMAN</td>
			<td>01711319165</td>
		</tr>
		<tr>
			<td>UH</td>
			<td>DR. TANVIR AHMED</td>
			<td>01914746848</td>
		</tr>
		<tr>
			<td>NICVD</td>
			<td>DR. KUDRAT E KHUDA BABU</td>
			<td>01720121774</td>
		</tr>
		<tr>
			<td>UH</td>
			<td>DR. MATIUR RAHMAN</td>
			<td>01776366352</td>
		</tr>
		<tr>
			<td>ECH</td>
			<td>DR. ASIF ZAMAN TUSHAR</td>
			<td>01683353892</td>
		</tr>
		<tr>
			<td>ICHRI</td>
			<td>DR. AAYSHA CADER</td>
			<td>01749419893</td>
		</tr>
		<tr>
			<td>SOMCH</td>
			<td>DR. AZIZUR RAHMAN ROMAN</td>
			<td>01712134537</td>
		</tr>
		<tr>
			<td>KMCH</td>
			<td>DR. SWADESH K CHARABORTY</td>
			<td>01712600505</td>
		</tr>
		<tr>
			<td>RPMC</td>
			<td>DR. ABU ZAHID BOSUNIA</td>
			<td>01711142018</td>
		</tr>
		<tr>
			<td>BMC</td>
			<td>DR. M SALEH UDDIN</td>
			<td>01711319165</td>
		</tr>
		<tr>
			<td>BOGRA MC</td>
			<td>DR. SHAIKH MD. SHAHIDUL HAQUE</td>
			<td>01711317115</td>
		</tr>
		<tr>
			<td>NHF&amp;RI</td>
			<td>DR. SMITA KANUNGD</td>
			<td>01711903233</td>
		</tr>
		<tr>
			<td>RANG MC</td>
			<td>DR. HABIBUL ISLAM</td>
			<td>01712261413</td>
		</tr>
		<tr>
			<td>COX MC </td>
			<td>DR. G.M. SELIM</td>
			<td>01717758975</td>
		</tr>
		<tr>
			<td>BSMMU</td>
			<td>DR. FAKHRUL ISLAM KHALED</td>
			<td>01817517505</td>
		</tr>
		<tr>
			<td>KHULNA</td>
			<td>DR. ABDULLAH AL MAINUR</td>
			<td>01931527248</td>
		</tr>
		<tr>
			<td>EVER CARE CTG</td>
			<td>DR. ZINNAT FATEMA SAIRA SAFA</td>
			<td>01534545252</td>
		</tr>
		<tr>
			<td>CMOSHMC</td>
			<td>DR. FARID UDDIN</td>
			<td>01817782699</td>
		</tr>
		<tr>
			<td>IMPERIAL HOSP</td>
			<td>DR. IMTIAZ UDDIN</td>
			<td>01671801545</td>
		</tr>
		<tr>
			<td>USTC</td>
			<td>DR. MASHUK AHSAN ALI</td>
			<td>01816806579</td>
		</tr>
		<tr>
			<td>FENI</td>
			<td>DR. SAHENWAZ SIRAZ (MAMUN)</td>
			<td>01754774477</td>
		</tr>
		<tr>
			<td>CMH</td>
			<td>Lt. Col. DR. MOSTAFA</td>
			<td></td>
		</tr>
	</table>

</div>


