@page
@model Cardicon.Pages.csicModel
@{
}

<div class="container mt-3">
    <h2 class="hdvio">Chattogram Society Of Interventional Cardiology</h2>
    

    <div style="font-size:medium; text-align:center; ">
        Room #37, Ward #12, Department Of Cardiology <br /> Chattogram Medical College Hospital, Chattogram-4000, Bangladesh
    </div>

    <p class="shadow rounded p-lg-5 mt-2" style="font-size: 1rem; line-height: 1.8rem; font-weight: 400; color: black; text-align: justify; background-color:white;">
        Chattogram Society Of Interventional Cardiology (CSIC) was founded in 2019 at Chattagram to look after the various aspect of intervention cardiology and those who practicing it. Interventional cardiology being the most modern treatment for ischemic heart disease and other heart disease, an organisation where felt to be established in Chattagong. Ischemic heart disease is presumed to be at high prevalence in Chattogram.<br /><br />
        At once a large number of patients are compelled to go to Dhaka, India and other countries to receive interventional treatment. This scenario is  changed with establishment of a number of cath labs in chattagram which was first established in the cardiology department of Chittagong Medical College in 2001. Thus, a Chittagong based cardiac interventional society was established in 2019 with Professor Dr Prabir Kumar Das as it's President and Professor Sheikh Hassan Mamun as its Secretary general.


    </p>

</div>
<div class="container mt-2">
    <h4 class="hdsky">Executive Committee</h4>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/ad.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Asish Dey</h6>
                    <p class="card-text text-center sfnt">President</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Prof. Dr. M.A. Rouf</h6>
                    <p class="card-text text-center sfnt">Vice President</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Prof. Dr. Abu Tarek Iqbal</h6>
                    <p class="card-text text-center sfnt">Vice President</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Abdul Muttalib</h6>
                    <p class="card-text text-center sfnt">Vice President</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/ic.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Ibrahim Chowdhury</h6>
                    <p class="card-text text-center sfnt">Vice President</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/nut.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Nur Uddin Tareq</h6>
                    <p class="card-text text-center sfnt">Vice President</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/nuj.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. A.Y.M Nur Uddin Jahangir</h6>
                    <p class="card-text text-center sfnt">Treasurer</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/aa.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Anisul Awal</h6>
                    <p class="card-text text-center sfnt">General Secretary</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/rr.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Rizwan Rehan</h6>
                    <p class="card-text text-center sfnt">Join Secretary</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Zahir Uddin Mahmud Ilias</h6>
                    <p class="card-text text-center sfnt">Join Secretary</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/ahs.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Abul Hossen Shahin </h6>
                    <p class="card-text text-center sfnt">Organising Secretary</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/bb.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Biplob Bhattacharjee</h6>
                    <p class="card-text text-center sfnt">Scientific Secretary</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/rd.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Rajiv Dey</h6>
                    <p class="card-text text-center sfnt">Office Secretary</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Salehuddin Siddique Ujjal</h6>
                    <p class="card-text text-center sfnt">Social Welfare Secretary</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Saifur Rahman Sohel</h6>
                    <p class="card-text text-center sfnt">Publicity Secretary</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/sc.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Sagar Chowdhury</h6>
                    <p class="card-text text-center sfnt">Cultural Secretary</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/femaledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Salma Nahid</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Muhammed Kafil Uddin</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Safiul Alam</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Khurshed Alam</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Emran Hossain</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/sb.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Sreepati Bhattacharjee</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Abdul Hamid Sagor</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Sawkat Hossain</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Sohel Siddique</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/pkd.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Prof. Dr. Prabir Kumar Das</h6>
                    <p class="card-text text-center sfnt">Ex Officio</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Prof. Dr. Shaikh Md. Hasan Mamun</h6>
                    <p class="card-text text-center sfnt">Ex Officio</p>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#imglogo').attr('src', 'images/csic.jpg');
            $('#imglogo').css('width', '250px')
            //$('#imglogo').prop()
            //$('#imglogo').val()

        })
    </script>








</div>
