@page
@model Cardicon.Pages.hfhfModel
@{
}
<div class="container mt-3">
    <h2 class="hdvio">Bangladesh Hypertension And Heart Failure Foundation</h2>
    <div style="font-size:large; font-weight: bold; text-align: center;">Voluntary Organization For Control Of Hypertension And Heart Disease And Charity Hospital</div>
    
    <div style="font-size:medium; text-align:center; ">129, Panchlaish Residential Area, Chattogram <br />Mobile: 01581868985, E-mail: bhhff.2022@gmail.com
        </div>
    
    <p class="shadow rounded p-lg-5 mt-2" style="font-size: 1rem; line-height: 1.8rem; font-weight: 400; color: black; text-align: justify; background-color:white;">
        Bangladesh Hypertension And Heart Failure Foundation (HFHF) was founded on 7th, January 2021. It is a charitable healthcare service providing organisation which aims of controlling and prevention of hypertension, heart diseases and heart failure.<br />Hypertension and heart failure are leading cause of health problems in Bangladesh. More than 22% of adult population here are suffering from hypertension and also ischemic heart disease. And other heart diseases are also increasing day by day. Heart diseases, if not adequately controlled, lead to heart failure. In our country, many are not aware of heart diseases. Also many poor people cannot afford the costly treatment of this condition. Hence HFHF was founded to provide treatment of this disease with lowest possible cost and provide the service free of cost to the helpless.


    </p>

</div>


<div class="container">
    <h4 class="hdsky">Executive Committee</h4>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/pkd.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Prof. Dr. Prabir Kumar Das</h6>
                    <p class="card-text text-center sfnt">President</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/ad.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Asish Dey</h6>
                    <p class="card-text text-center sfnt">Vice President</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Salehuddin Siddique</h6>
                    <p class="card-text text-center sfnt">Treasurer</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/ahs.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Abul Hossain Shahin</h6>
                    <p class="card-text text-center sfnt">General Secretary</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/sc.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Sagor Chowdhury</h6>
                    <p class="card-text text-center sfnt">Join Secretary</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/aa.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Anisul Awal</h6>
                    <p class="card-text text-center sfnt">Scientific Secretary</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/rr.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Rizwan Rehan</h6>
                    <p class="card-text text-center sfnt">Organising Secretary</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/nuj.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Abu Yusuf Md. Nuruddin Jahangir</h6>
                    <p class="card-text text-center sfnt">Publicity Secretary</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/rd.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Rajiv Dey</h6>
                    <p class="card-text text-center sfnt">Office Secretary</p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/femaledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Neena Islam</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/maledoctor1.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Naresh Chandra Roy</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/sb.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Sreepati Bhattacharjee</h6>
                    <p class="card-text text-center sfnt">Member</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="card">
                <img src="images/ah.jpg" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <h6 class="card-title text-center">Dr. Md. Akram Hossen</h6>
                    <p class="card-text text-center sfnt">Office Secretary</p>

                </div>
            </div>
        </div>

        
    </div>
    <script>
        $(function () {
            $('#imglogo').attr('src', 'images/HFHF.jpg');
            $('#imglogo').css('width', '250px')
            //$('#imglogo').prop()
            //$('#imglogo').val()
            
        })
    </script>








</div>