@page
@model IndexModel
@{
    ViewData["Title"] = "Home: Cardicon 2023";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 ps-lg-5 pe-lg-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/banner1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/banner.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images/banner2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-12 mb-3 mt-2 ps-lg-5 pe-lg-5">
            
            <h2 class="text-center rounded" style="color: white; background-color: #e02229; padding: 5px; text-shadow: 2px 2px 8px black;">Welcome to CARDICON 2023</h2>
            <p class="shadow rounded p-4 pclas">
                We are pleased to inform you that <b>CardiCon Chattogram 2023</b>, the first international conference on Cardiovascular Diseases in Chattogram, will be held in <b>16-17 June, 2023 in Hotel Radison Blu, Chattogram, Bangladesh</b>. This will be organized jointly by <b>Bangladesh Hypertension & Heart Failure Foundation</b> and <b>Chattogram Society of Interventional Cardiology</b>. This program is intended to be a holistic approach to management of cardiovascular diseases/including the basic, clinical and interventional aspects. The two day long program will include state of art lectures, plenary session, free paper session, hands on training, poster & CD presentation etc. Eminant speakers from home and abroad are expected to grace the occasion. Cultural events, site seeing programs will highlight the rich heritage of the port city Chattogram. <br /><br />
                Join the international cardiovascular conference in Chattogram on 16-17 June 2023 for the exciting academic events and hospitality indigenous to Chattogram.
                Please submit abstract of your presentation through conference website at <b>https://www.cardiconctg.com</b>

                
            </p>
            <div class="d-flex justify-content-between">
                    <div>
                        <div style="font-weight:bold; font-size:large">Prof. Dr. Prabir Kumar Das</div>
                        <div>PRESIDENT Cardicon Chattogram 2023</div>
                        <div>
                            Ex HOD, Cardiology dept<br />
                            Chittagong Medical College.
                        </div>
                    </div>
                    <div>
                        <div style="font-weight:bold; font-size:large">Dr. Asish Dey</div>
                        <div>Member Secretary, Cardicon Chattogram 2023</div>
                        <div>HOD, Cardiology dept<br />Chittagong Medical College</div>
                    </div>
                </div>
        </div>

        
               

    </div>

    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-success border-2 mb-3 shadow-lg">
                <div class="card-header text-white bg-success">
                   <b>LEARNING OBJECTIVE</b>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Exchange of knowledge on Cardiovascular diseases</li>
                        <li>Sharing and updating interventional techniques</li>
                        <li>Training young fellows on interventional techniques</li>
                        <li>Highlighting the special attributes of heart diseases in Chattogram</li>
                        <li>Encouraging researchers in the field of Cardiology</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-primary border-2 mb-3 shadow-lg">
                <div class="card-header text-white bg-primary">
                    <b>TARGET PARTICIPANTS</b>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Clinical Cardiologists</li>
                        <li>Interventional Cardiologists</li>
                        <li>Clinicians practicing cardiovascular medicine</li>
                        <li>Clinicians interested in issues on Hypertension & heart failure</li>
                        <li>Post graduate students & residents in Cardiology and related specialities</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-primary border-2 mb-5 shadow-lg" style="height:335px">
                <div class="card-header text-white bg-primary">
                    <b>PROGRAM HIGHLIGHTS</b>
                </div>
                <div class="card-body">
                    <ul>
                        <li>State-of-art lectures</li>
                        <li>Plenery session</li>
                        <li>Meet the expert session</li>
                        <li>Free paper session</li>
                        <li>CD presentation on interventional Cardiology</li>
                        <li>Interactive session on Cardiac Surgery</li>
                        <li>Interesting case presentation</li>
                        <li>Live case transmission</li>
                        <li>e-Poster presentation</li>
                        <li>Cath lab nurses & technician session</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card border-success border-2 mb-5 shadow-lg" style="height:335px">
                <div class="card-header text-white bg-success">
                    <b>AREAS OF INTEREST</b>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Clinical Cardiology:Hypertension & Heart Failure</li>
                        <li>Interventional Cardiology-basic & beyond</li>
                        <li>Structural heart disease interventions for valvular & congenital hear diseases</li>
                        <li>Cardiac sugery vs intervention-what for whom?</li>
                        <li>Issues on pediatric Cardiology</li>
                        <li>Hear disease in Chattogram</li>
                        <li>Preventive Cardiology</li>
                    </ul>
                </div>
            </div>
        </div>
        

    </div>

    <div class="row">
        <div class="col-12" id="abscol">
            <h2 class="hdred">ABSTRACT SUBMISSION</h2>
            <h5 class="hdsky">DEADLINE FOR ABSTRACT SUBMISSION : 15 MAY, 2023</h5>
        </div>
        <div class="col-lg-6">
            <h6 class="hdvio">ABSTRACT SUBMISSION</h6>
            <ul style="font-size: large; font-weight:500">
                <li>Introduction</li>
                <li>Materials & Methods</li>
                <li>Result</li>
                <li>Conclusion</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h6 class="hdvio">INTERESTING CD SUBMISSION</h6>
            <ul style="font-size: large; font-weight:500">
                <li>Case must be submitted in MS Power Point as follows:</li>
                <li>Introduction</li>
                <li>Relevent investigations prior to interventions</li>
                <li>Angiographic findings</li>
                <li>Procedure & techniques</li>
                <li>Conclusion</li>
                <li>Take home massage</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h6 class="hdvio">POSTER PRESENTATION</h6>
            <ul style="font-size: large; font-weight:500">
                <li>Must be presented electronically</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h6 class="hdvio">ABSTRACT & CASE SUBMISSION TO</h6>
            <ul style="font-size: large; font-weight:500">
                <li>Conference website: <a href="/abstract">ABSTRACT</a> </li>
                <li>Directly to member Secretary, Cardicon Chattogram 2023</li>
                <li>Conference Secretariate: Dr.Sandipon Seminar Hall, Cardiology Dept, Word #12 (1st floor) Chittagong Medical College Hospital, Chattogram, Bangladesh.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <h2 class="hdred">Welcome Message</h2>
        </div>
        <div class="col-3 text-center">
           
            
                <img src="/images/pkd.jpg" style="width:140px; margin:10px" alt="..."><br />
            <span>
                <strong>Prof. Dr. Prabir Kumar Das</strong><br />
                PRESIDENT<br /> Cardicon Chattogram 2023
            </span>
            
        </div>
        <div class="col-9">
            <div class="px-lg-5 py-3" style="text-align:justify; background-color: #bee7ff; text-shadow: 1px 1px 1px #cdcdcd">


                <b>Dear Participants,</b><br />

                This is indeed a great honour and pleasure for me to welcome you in CARDICON Chattogram 2023, the first international cardiovascular conference going to be held in Chattogram, the port city of the country. Keeping pace with the substantial advancement in the field of Cardiology globally, various aspects of the subject, including the clinical interventional surgical and preventive one will be highlighted. CARDICON Chattogram 2023 will work as a platform for sharing knowledge, exchanging views on aspects of cardiovascular dieases and transferring technologies in its interventional aspects. CARDICON Chattogram 2023 is the maiden event for Chattogram in the exciting field of Cardiology but I strongly believe that this is not the end in itself rather it is the beginning of an end to attain excellance in Cardiovascular practice and research.<br /><br />

                We look forward to welcoming you to CARDICON Chattogram 2023 that promises to be a memorable conference.
            </div>
        </div>
            
    </div>



</div>
